<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='schubert.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form action="{{ url_for('create_user') }}" method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" required>

            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname" required>

            <label for="hp_id">Home Pharmacy ID:</label>
            <input type="text" id="hp_id" name="hp_id" required>

            <button type="submit">Create Account</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}" class="btn-secondary">Return to Login Page</a></p>

    </div>
</body>
</html>
